# Dependencies
node_modules
.turbo


# Output
out
.output
dist
*.tgz

# Code coverage
coverage
*.lcov

# Logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS)
.DS_Store

# Panda
styled-system
styled-system-studio

# Vinxi
.vinxi
